@main {

  <h1>Url Shortener</h1>
  <div class="container">
  </div>
  <div class="container">
    <h3>Shorten url</h3>
    <span> <input id="generate-url" type="text" name="url" placeholder="Input url"></span>
      <span> <input id="create" type="button" value="Create" /></span>
    <p id="error" style="color:red;display:none"></p>
    <p class="success" style="color:greed;display:none">Successfully added</p>
  </div>
  <div id="selected" class="container">
    <h3>Showing records:</h3>
    <span> <input id="show" type="button" value="Show Urls" /></span>
    <div id="no-record-selected">No results displayed</div>
    <div id="record-selected">
    </div>
  </div>

}
